{% extends 'layouts/base.twig' %}

{% block main_content %}
    <main>
        <h1> All Bikes</h1>
        <div id="bikeDiv">
            <img src="/public/images/MongooseBike.jpg" id="bikesPage">
            <h2>Mongoose</h2>
            <p>Price: 299.99</p>
            <p>Status: In Stock </p>
        </div>

        <div id="bikeDiv">
            <img src="/public/images/Trek.jpeg" id="bikesPage">
            <h2>Trek</h2>
            <p>Price: 450.89</p>
            <p>Status: In Stock </p>
        </div>

        <div id="bikeDiv">
            <img src="/public/images/Huffy.jpg" id="bikesPage">
            <h2>Huffy</h2>
            <p>Price: 325.48</p>
            <p>Status: In Stock </p>
        </div>
        <div id="bikeDiv">
            <img src="/public/images/BMX.jpg" id="bikesPage">
            <h2>BMX</h2>
            <p>Price: 500.99</p>
            <p>Status: In Stock </p>
        </div>
    </main>
{% endblock %}