<form method="POST" action="/products/{% if product.id %}{{ product.id}}{% endif %} ">
    {% if product.id %}
        <input type="hidden" name="id" value="{{ product.id}}">
    {% endif %}
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
    
    </div>
    <div>
        <input type="submit" type="submit"" />
    
    </div>

</form>