{% extends "../layouts/base.twig" %}

{% block main_content %}
<p>This content is coming from templates/views/home.twig</p>
{% endblock %}



{% block scripts %}
<script>
    alert("Hello there!!")
</script>
{% endblock %}