{% extends "../layouts/base.twig" %}

{% block main_content %}
<h1> Manage </h1>
<nav>
    <ul>
        <a href="/products">Products</a>
        <a href="/variants">Variants</a>
        <a href="/images">Images</a>
    </ul>
</nav>
{% endblock %}



{% block title %} Home Views {% endblock %}
