{% extends "../layouts/base.twig" %}

{% block main_content %}
   <h1> Cycle Land </h1>

   <a href="/bikes"><img src="/public/images/bikeHome.jpg" id="bikePhoto"></a>
{% endblock %}



{% block title %} Home Views {% endblock %}
