<header>
    <nav id="navHome">
      <a href="/" id="navHomeEdit">Home</a>
      <a href="/products" id="navHomeEdit">Manage Products</a>
      <a href="/variants" id="navHomeEdit">Manage Variants</a>
      <a href="/images" id="navHomeEdit">Manage Images</a>
    </nav>
</header>